// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.fifth-container {
    background-image: url("manpowanko_ログインページ2.jpg");
    height: 600px;
    background-size: 100%;
 }