<h1>manpowanko</h1>
<h3>説明ページ</h3>
このページではこのサイトの使い方について説明します。
１．このサイトにログインすると一番最初にマイページが表示されます。マイページにはあなたが投稿した「今日の歩数」と「説明ページ」、「プレゼントページ」、「歩数投稿ページ」、「履歴ページ」へのリンクボタンが表示されています。
２．「歩数投稿ページ」ではあなたがその日に歩いた歩数を投稿して記録することができます。
３．「履歴ページ」ではあなたが今までに投稿した歩数を振り返ることができます。
４．「説明ページ」はこのページのことで、このサイトの使い方を説明しています。
５．「プレゼントページ」ではあなたが投稿した歩数の合計がある一定の歩数に到達するごとに、ワンちゃんのかわいい動画や写真を閲覧することができます。
<%= link_to "ユーザーページへ",counts_home_path %>
