<div class = "main-container ">

<div class = "fire">
   <h1>manpowanko</h1>
</div>

<div class = "ice">
   <h3>説明ページ</h3>
</div>

<%= link_to "ユーザーページへ",counts_home_path, class: "conan" %>

<div class = "pen">
   このページではこのサイトの使い方について説明します。
</div>

<div class = "bad">
   １．このサイトにログインすると一番最初にマイページが表示されます。マイページにはあなたが投稿した「今日の歩数」と「説明ページ」、「プレゼントページ」、「歩数投稿ページ」、「履歴ページ」へのリンクボタンが表示されています。
</div>

<div class = "blue">
   ２．「歩数投稿ページ」ではあなたがその日に歩いた歩数を投稿して記録することができます。
</div>

<div class = "boy">
   ３．「履歴ページ」ではあなたが今までに投稿した歩数を振り返ることができます。
</div>

<div class = "girl">
   ４．「説明ページ」はこのページのことで、このサイトの使い方を説明しています。
 </div>  

 <div class = "mad">
   ５．「プレゼントページ」ではあなたが投稿した歩数の合計がある一定の歩数に到達するごとに、ワンちゃんのかわいい動画や写真を閲覧することができます。
</div>

 