<div class = "second-container">

<div class = "flower">
   <h1>manpowanko</h1>
</div>

<div class = "cook">
   <h3>プレゼントページ</h3>
</div>

<div class = "soda"> 
   合計：
   <%= @number %>
   歩
</div>

<%= link_to "ユーザーページへ",counts_home_path, class: "peach" %>

<% if @number >= 1000 %>
<a href="https://twitter.com/RikuKaneta/status/1401018228181127177?s=09"><p>プレゼント１</p></a>
<% end %>

<% if @number >= 2000 %>
<a href="https://twitter.com/RikuKaneta/status/1400779704848719876?s=09"><p>プレゼント２</p></a>
<% end %>

<% if @number >= 3000 %>
<a href="https://twitter.com/hime1207taso/status/1398275621868826634?s=09"><p>プレゼント３</p></a>
<% end %>

<% if @number >= 4000 %>
<a href="https://twitter.com/RikuKaneta/status/1398234593581363205?s=09"><p>プレゼント４</p></a>
<% end %>

<% if @number >= 5000 %>
<a href="https://twitter.com/RikuKaneta/status/1397529519896989698?s=09"><p>プレゼント５</p></a>
<% end %>

<% if @number >= 6000 %>
<a href="https://twitter.com/RikuKaneta/status/1397026126011060224?s=09"><p>プレゼント６</p></a>
<% end %>

<% if @number >= 7000 %>
<a href="https://twitter.com/RikuKaneta/status/1391952363661926401?s=09"><p>プレゼント７</p></a>
<% end %>

<% if @number >= 8000 %>
<a href="https://twitter.com/po_iz/status/1397027450396151815?s=09"><p>プレゼント８</p></a>
<% end %>

<% if @number >= 9000 %>
<a href="https://twitter.com/RikuKaneta/status/1404045568364539908?s=09"><p>プレゼント９</p></a>
<% end %>

<% if @number >= 10000 %>
<a href="https://twitter.com/RikuKaneta/status/1404796447158116356?s=09"><p>プレゼント１０</p></a>
<% end %>
